@media (max-width: $screen-sm-min) {
    .main-header .logo {
        display: none;
    }
    .fixed .content-wrapper, .fixed .right-side, .control-sidebar, .main-sidebar {
        padding-top: 50px;
    }

    label{
	font-size: 12px;
	}

	.lbDefault{

		margin-top: 54%!important;
	}
}

.lbDefault{
	width: 100%;
 	margin-top: 28%;

}

#timesheet_edit_form_description #timesheet_edit_form_tags{
    font-size: 10px;

}